/* static/css/application.css */
#chat-text {
  overflow: auto;
  height: 500px;
}

.content {
  margin: 90px auto 90px auto;
  max-width: 900px;
  text-align:center;
}

.controller{
    display: inline-block;
}

.form-group {
    margin-bottom: 50px;
}

.buffer {
    height: 60px;
    width: 60px;
}

.direction-btn{
    height: 90px;
    width: 90px;
    border: 0px;
    padding: 0px;
}

.grid{
    display: grid;
}

.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 0 0;
    grid-template-areas:
        ". up ."
        "left center right"
        ". down .";
}

.grid-item{
    display: inline-grid;
}

.direction-up{
    background:url(/static/images/button_up.jpg) no-repeat;
    background-size: contain;
}

.direction-right{
    background:url(/static/images/button_right.jpg) no-repeat;
    background-size: contain;
}

.direction-center{
    background:url(/static/images/button_center.jpg) no-repeat;
    background-size: contain;
}

.direction-left{
    background:url(/static/images/button_left.jpg) no-repeat;
    background-size: contain;
}

.direction-down{
    background:url(/static/images/button_down.jpg) no-repeat;
    background-size: contain;
}



