/* static/css/application.css */
#chat-text {
  overflow: auto;
  height: 500px;
}

.container{
  margin-top: 50px;
  position: relative;
}

.centered-bits{
  display: block;
  width: 650px;
  margin: 0 auto;
}

.form-group{
  width: 500px
}

.direction-btn{
  float: left;
  padding: 0;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
  width: 100px;
}

.grid-cell{
  display: inline-grid;
  grid-gap: 0px;
}
