/* static/css/application.css */
#chat-text {
  overflow: auto;
  height: 500px;
}

.container{
  margin-top: 50px;
  position: relative;
}

.centered-bits{
  display: block;
  margin: 0 auto;
}

.controller{
  display: inline-block;
  zoom: 0.35;
}

.direction-btn{
  float: left;
  padding: 0;
  border: none;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.grid-cell{
  display: inline-grid;
}
