<!-- templates/index.html -->
<!DOCTYPE html>


<html>
  <head>
    <title>Demo Player Client</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
  </head>
  <body>
    <div class="container">
        <div class="content">
            <div class="form-group">
              <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
            </div>
            <div class="controller">
                <div class="grid-container">
                    <div class="grid-item" style="grid-area:up">
                        <button class="direction-btn direction-up" name="up"></button>
                    </div>

                    <div class="grid-item" style="grid-area:left">
                        <button class="direction-btn direction-left" name="left"></button>
                    </div>
                    <div class="grid-item" style="grid-area:center">
                        <button class="direction-btn direction-center" name="center"></button>
                    </div>
                    <div class="grid-item" style="grid-area:right">
                        <button class="direction-btn direction-right" name="right"></button>
                    </div>

                    <div class="grid-item" style="grid-area:down">
                        <button class="direction-btn direction-down" name="down"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/player_client.js"></script>
  </body>
</html>


